<!-- banner starts -->
<div class="banner slideshow-container">

    <div class="mySlides fade">
        <img src="img/banner1.png">
        <div class="banner-stock-box">
            <div class="banner-stock-text">- 20% на кровати <br>и матрасы</div>
            <button class="banner-stock-btn">Подробнее</button>
        </div>
        <div class="countdown-box">
            <div class="countdown-text">ДО КОНЦА <br> АКЦИИ</div>
            <div class="countdown2" data-date="20-5-2018" data-time="12:00">
                <div class="day"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="hour"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="min"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="sec"><span class="num"></span><span class="word"></span></div>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
    <img src="img/banner1.png">
    <div class="banner-stock-box">
        <div class="banner-stock-text">- 20% на кровати <br>и матрасы</div>
        <button class="banner-stock-btn">Подробнее</button>
    </div>
    <div class="countdown-box">
        <div class="countdown-text">ДО КОНЦА <br> АКЦИИ</div>
        <div class="countdown3" data-date="20-8-2018" data-time="12:00">
            <div class="day"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
            <div class="hour"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
            <div class="min"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
            <div class="sec"><span class="num"></span><span class="word"></span></div>
        </div>
    </div>
</div>
    <div class="mySlides fade">
        <img src="img/banner1.png">
        <div class="banner-stock-box">
            <div class="banner-stock-text">- 20% на кровати <br>и матрасы</div>
            <button class="banner-stock-btn">Подробнее</button>
        </div>
        <div class="countdown-box">
            <div class="countdown-text">ДО КОНЦА <br> АКЦИИ</div>
            <div class="countdown4" data-date="20-10-2018" data-time="12:00">
                <div class="day"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="hour"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="min"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
                <div class="sec"><span class="num"></span><span class="word"></span></div>
            </div>
        </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>