<!--goods menu starts-->

<ul class="goods-menu">
    <li class="goods-menu-item">МАТРАСЫ <div class="goods-menu-arrowup"></li>
    <ul class="goods-menu-dropdown">
        <li class="goods-menu-dropdown-item">Диваны угловые
            <ul>
                <li class="goods-menu-dropdown-subitem">Дельфин</li>
                <li class="goods-menu-dropdown-subitem">Поворотный</li>
                <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
            </ul>
        </li>
        <li class="goods-menu-dropdown-item">Диваны прямые
            <ul>
                <li class="goods-menu-dropdown-subitem">Аккордеон</li>
                <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
                <li class="goods-menu-dropdown-subitem">Клик-кляк</li>
                <li class="goods-menu-dropdown-subitem">Шагающий</li>
            </ul>
        </li>
        <li class="goods-menu-dropdown-item">Пуфы</li>
    </ul>
    <li class="goods-menu-item">ДИВАНЫ <div class="goods-menu-arrowup"></div></li>
    <ul class="goods-menu-dropdown">
    <li class="goods-menu-dropdown-item">Диваны угловые
        <ul>
            <li class="goods-menu-dropdown-subitem">Дельфин</li>
            <li class="goods-menu-dropdown-subitem">Поворотный</li>
            <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
        </ul>
    </li>
    <li class="goods-menu-dropdown-item">Диваны прямые
        <ul>
            <li class="goods-menu-dropdown-subitem">Аккордеон</li>
            <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
            <li class="goods-menu-dropdown-subitem">Клик-кляк</li>
            <li class="goods-menu-dropdown-subitem">Шагающий</li>
        </ul>
    </li>
    <li class="goods-menu-dropdown-item">Пуфы</li>
</ul>
    <li class="goods-menu-item">КРОВАТИ <div class="goods-menu-arrowup"></li>
    <li class="goods-menu-item">ОДЕЯЛА <div class="goods-menu-arrowup"></li>
    <li class="goods-menu-item">ПОДУШКИ <div class="goods-menu-arrowup"></li>
    <li class="goods-menu-item">НАМАТРАСНИКИ <div class="goods-menu-arrowup"></li>
    <li class="goods-menu-item">ДЕТСКИЕ ТОВАРЫ <div class="goods-menu-arrowup"></li>
</ul>

<!--goods menu ends-->
