<!--goods menu starts-->

<ul class="goods-menu">
    <li class="goods-menu-item">МАТРАСЫ
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Мультипружинные</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Односпальные</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Беспружинные</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Бонель</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Двухспальные</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Топперы - наматрасники</li>
            </ul>
        </li>
    </ul>
    <li class="goods-menu-item">ДИВАНЫ
        <div class="goods-menu-arrowup"></div>
    </li>
    <ul class="goods-menu-dropdown">
        <li class="goods-menu-dropdown-item">Диваны угловые
            <ul>
                <li class="goods-menu-dropdown-subitem">Дельфин</li>
                <li class="goods-menu-dropdown-subitem">Поворотный</li>
                <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
            </ul>
        </li>
        <li class="goods-menu-dropdown-item">Диваны прямые
            <ul>
                <li class="goods-menu-dropdown-subitem">Аккордеон</li>
                <li class="goods-menu-dropdown-subitem">Еврокнижка</li>
                <li class="goods-menu-dropdown-subitem">Клик-кляк</li>
                <li class="goods-menu-dropdown-subitem">Шагающий</li>
            </ul>
        </li>
        <li class="goods-menu-dropdown-item">Пуфы</li>
    </ul>
    <li class="goods-menu-item">КРОВАТИ
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Кровати из дерева</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Каркасы</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Модульные системы</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Мягкие кровати сомье</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Раскладушки</li>
            </ul>
        </li>
    </ul>
    <li class="goods-menu-item">ОДЕЯЛА
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Зимние</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Аллергенные</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">4 сезона</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Шерстяные</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Летние</li>
            </ul>
        </li>
    </ul>
    <li class="goods-menu-item">ПОДУШКИ
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Низкие</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Декоративные</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Средние</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Для детей</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Высокие</li>
            </ul>
        </li>
    </ul>
    <li class="goods-menu-item">НАМАТРАСНИКИ
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Влагонепронецаемые</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Обячные</li>
            </ul>
        </li>
    </ul>
    <li class="goods-menu-item">ДЕТСКИЕ ТОВАРЫ
        <div class="goods-menu-arrowup">
    </li>
    <ul class="goods-menu-dropdown">
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Детская мебель</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Детский текстиль</li>
            </ul>
        </li>
        <li class = "dropdown-column">
            <ul>
                <li class="goods-menu-dropdown-item dropdown-item-column">Детские матрасы</li>
                <li class="goods-menu-dropdown-item dropdown-item-column">Детские подушки</li>
            </ul>
        </li>
    </ul>
</ul>

<!--goods menu ends-->
