<!--goods menu starts-->

<ul class="goods-menu">
    <li class="goods-menu-item"><a>МАТРАСЫ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Мультипружинные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Односпальные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Беспружинные</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Бонель</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Двухспальные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Топперы - наматрасники</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>ДИВАНЫ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class="goods-menu-dropdown-item"><a>Диваны угловые</a>
                <ul>
                    <li class="goods-menu-dropdown-subitem"><a>Дельфин</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Поворотный</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Еврокнижка</a></li>
                </ul>
            </li>
            <li class="goods-menu-dropdown-item"><a>Диваны прямые</a>
                <ul>
                    <li class="goods-menu-dropdown-subitem"><a>Аккордеон</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Еврокнижка</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Клик-кляк</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Шагающий</a></li>
                </ul>
            </li>
            <li class="goods-menu-dropdown-item"><a>Пуфы</a></li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>КРОВАТИ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Кровати из дерева</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Каркасы</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Модульные системы</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Мягкие кровати</a> сомье</li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Раскладушки</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>ОДЕЯЛА</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Зимние</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Антиаллергенные</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>4 сезона</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Шерстяные</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Летние</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>ПОДУШКИ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Низкие</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Декоративные</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Средние</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Для детей</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Высокие</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>НАМАТРАСНИКИ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Влагонепроницаемые</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Обычные</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="goods-menu-item"><a>ДЕТСКИЕ ТОВАРЫ</a>
        <div class="goods-menu-arrowup-box"><div class="goods-menu-arrowup"></div></div>
        <ul class="goods-menu-dropdown">
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детская мебель</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детский текстиль</a></li>
                </ul>
            </li>
            <li class = "dropdown-column">
                <ul>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детские матрасы</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детские подушки</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<!--goods menu ends-->
