<header class="header">
    <div class="wrap container">
        <!--header first column starts-->
        <div class="header-first-column">
            <div class="sales">
                <div class="stock">
                    <div class="icon icon-star_icon"></div>
                    <a href="#">Акции</a></div>
                <div class="installment"><span>%</span><a href="#">Рассрочка</a></div>
            </div>
            <a href="#"><img src="img/logo.png" alt="veneto logo" class="logo"></a>
        </div>
        <!--header first column ends-->

        <!--header second column starts-->
        <div class="header-second-column">
            <a href="#">
                <div class="menuicon"></div>
            </a>
            <a href=""><img src="img/logo.png" alt="veneto logo"
                            class="mobile-logo"></a>
            <!--header second column first row starts-->
            <div class="header-first-row">
                <ul class="first-row-menu">
                    <li class="first-row-menu-item"><a href="#">Доставка и оплата</a></li>
                    <li class="first-row-menu-item"><a href="#"></a>Контакты</li>
                    <li class="first-row-menu-item"><a href="#">Новости</a></li>
                    <li class="first-row-menu-item"><a href="#">Блог</a></li>
                </ul>
                <div class="phones">
                    <div class="phone-box"><span class="icon icon-lifecell"></span><span>073-21-11-176</span></div>
                    <div class="phone-box"><span class="icon icon-kievstar"></span><span>067-23-18-796</span></div>
                    <div class="phone-box"><span class="icon icon-vodafone"></span><span>050-35-39-347</span></div>
                </div>

                <div class="authorisation">
                    <div class="our-markets-box">
                    <div class="icon-pin_icon"></div>
                    <span class="our-markets">Наши магазины</span></div>
                    <div class="city">Киев</div>
                    <div class="icon-avatar"></div>
                    <div class="language">RU</div>
                </div>
            </div>

            <!--header second column first row ends-->

            <!--header second column second row starts-->

            <div class="header-second-row">
                <nav class="nav-menu"><a href="#" class="nav-menu-item">МАТРАСЫ</a><a href="#"
                                                                                      class="nav-menu-item">ДИВАНЫ</a><a
                        href="#" class="nav-menu-item">КРОВАТИ</a><a
                        href="#" class="nav-menu-item">ОДЕЯЛА</a><a href="#" class="nav-menu-item">ПОДУШКИ</a><a
                        href="#"
                        class="nav-menu-item">НАМАТРАСНИКИ</a>
                    <a
                            href="#"
                            class="nav-menu-item">ДЕТСКИЕ ТОВАРЫ</a>
                </nav>
                    <div class="mobilesearchicon"></div>
                <form class="search-box"><input type="text" class="search-area" placeholder = "Поиск по сайту">
                    <input class="icon-search_icon">
                </form>
                    <div class="phoneicon"></div>
                <div class="marker-cart-box">
                    <div class="our-markets-box">
                        <div class="icon-pin_icon"></div>
                        <span class="our-markets">Наши магазины</span></div>
                    <a class="cart">
                        <div class="icon-cart_icon"></div>
                        <div class="court-counter">0</div>
                    </a>
                </div>
            </div>
        </div>
        <!--header second column second row ends-->
    </div>
</header>