//header styles starts

.header {
  font-family: 'PragmaticaBook-Reg', sans-serif;
  color: #6d7c90;
  padding-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e3e6e9;
  margin-bottom: 30px;
  @include media($width-sm) {
    padding-bottom: 72px;
    margin-bottom: 60px;
    padding-top: 50px;
  }
  @include media($width-mid) {
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-color: #0075be;
    padding-top: 20px;
  }
  .wrap {
    display: block;
    @include media($width-mid) {
      display: flex;
    }
  }

  @import "__headerfirstcolumn/__headerfirstcolumn";
  @import "__headersecondcolumn/__headersecondcolumn";

  @import "__headersecondcolumn/__headersecondcolumn";

}

/*header end*/