<!--header second column starts-->

<div class="header-second-column">
    <a href="#">
        <div class="menu-icon"></div>
    </a>
    <a href=""><img src="img/logo.png" alt="veneto logo"
                    class="mobile-logo"></a>

    <!--header second column first row starts-->

    <div class="header-first-row">

        <!--#insert file="../__mainmenu/--mainmenu.html"-->

        <div class="phones">
            <div class="phone-wrap"><span class="lifecell-icon"></span><span>073-21-11-176</span></div>
            <div class="phone-wrap"><span class="kievstar-icon"></span><span>067-23-18-796</span></div>
            <div class="phone-wrap"><span class="vodafone-icon"></span><span>050-35-39-347</span></div>
        </div>
        <div class="authorisation">
            <div class="our-markets-box">
                <div class="pin-icon"></div>
                <span class="our-markets">Наши магазины</span></div>
            <div class="city">Киев</div>
            <div class="avatar-icon"></div>
            <div class="language">RU</div>
        </div>
    </div>

    <!--header second column first row ends-->

    <!--header second column second row starts-->

    <div class="header-second-row">

        <!--#insert file="../__goodsmenu/--goodsmenu.html"-->

        <div class="search-mobile-icon"></div>
        <form class="search-box"><input type="text" class="search-area" placeholder = "Поиск по сайту">
            <input class="icon-search">
        </form>
        <div class="phone-icon"></div>
        <div class="marker-cart-box">
            <div class="our-markets-box">
                <div class="pin-icon"></div>
                <span class="our-markets">Наши магазины</span></div>
            <a class="cart">
                <div class="cart-icon"></div>
                <div class="court-counter">0</div>
            </a>
        </div>
    </div>
</div>

<!--header second column second row ends-->